#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

a.router-link-exact-active {
  color: #42b983;
}

.top-menu {
  text-align: right;
  background: #2c3e50;
  color: #ffffff;
  padding: 10px;
}

.top-menu a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.top-menu a.router-link-exact-active {
  color: #42b983;
}

form {
  width: 40%;
  margin: auto;
}

input{
  padding: 10px;
  border: 1px solid #e0dede;
  outline: none;
  font-size: 12px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

button {
  background: #42b983;
  color: #ffffff;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  border: #42b983;
  cursor: pointer;
}

.warning {
  color: red;
}

.poker-table {
  background-image: url(../assets/table.svg);
  background-size: 100% 100%;
  width: 80%;
}

.chat-panel {
  width: 20%;
  height: 100%;
  text-align: left;
  border-left: 2px solid #2c3e50;
}

.chat-panel input {
  height: 5%;
  border-bottom: 2px solid #2c3e50;
}

.msg-list {
  overflow-y: auto;
  height: 95%;
}

.table {
  display: flex;
  border: 5px solid #2c3e50;
}