#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #050517;
}

body {
  background-color: #f8fff4;
  background-image: url(../assets/bg.svg);
  background-attachment: fixed;
  background-size: cover;
  /* background by SVGBackgrounds.com */
}

#nav {
  padding: 2%;
}

a {
  font-weight: bold;
  color: #050517;
  text-decoration: none;
}

a.router-link-exact-active {
  color: #cf5c36;
}

.top-menu {
  text-align: right;
  background: #050517;
  color: #f8fff4;
  padding: 1%;
}

.top-menu a {
  font-weight: bold;
  color: #f8fff4;
  text-decoration: none;
  cursor: pointer;
}

.top-menu a.router-link-exact-active {
  color: #cf5c36;
}

form {
  width: 40%;
  margin: auto;
}

input {
  padding: 2%;
  margin: 1%;
  outline: none;
  text-align: center;
  width: 100%;
  background-color: #f8fff400;
  box-sizing: border-box;
  border-width: 1%;
  border-style: solid;
  border-color: #050517;
}

button {
  background: #050517;
  color: #f8fff4;
  padding: 2%;
  margin: 1%;
  text-transform: uppercase;
  text-align: center;
  justify-content: center; 
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  border-color: #050517;
}

.table-panel-btn {
  padding: 0px;
  width: 20%;
  height: 40%;
  font-size: 1.2vw;
  box-sizing: border-box;
  border-width: 1%;
  border-style: solid;
  border-color: #cf5c36;
}

.warning {
  color: #cf5c36;
}

.poker-table {
  position: relative;
  background-image: url(../assets/table.svg);
  background-size: 100% 100%;
  height: 85%;
  font-weight: bold;
}

.btm-table-panel {
  display: flex;
  background-color: #050517bd;
  box-shadow: 0px -5px 3px 2px #050517bd;
  height: 15%;
  justify-content: center;
}

.table-panel {
  flex-direction: column;
  width: 75%;
  font-size: 1.1vw;
}

.chat-panel {
  width: 25%;
  height: 100%;
  text-align: left;
  border-left-width: 10%;
  border-left-style: solid;
  border-left-color: #050517;
  font-size: 1.3vw;
}

.chat-panel input {
  margin: 0%;
  height: 5%;
  border: #f8fff4;
  font-size: 1.3vw;
}

.msg-list {
  overflow-y: auto;
  height: 95%;
  border-top-width: 10%;
  border-top-style: solid;
  border-top-color: #050517;
}

.table {
  display: flex;
  margin: auto;
  border-width: 10%;
  border-style: solid;
  border-color: #050517;
}

.table-card {
  position: absolute;
  top: 39.5%;
  width: 8%;
}

#flop1 {
  left: 29%;
}

#flop2 {
  left: 37.5%;
}

#flop3 {
  left: 46%;
}

#turn {
  left: 54.5%;
}

#river {
  left: 63%;
}

#pot-count {
  position: absolute;
  top: 36%;
  left: 50%;
  color: #d6ac68;
}

#pot-count div {
  position: relative;
  left: -50%;
}

#hand {
  position: absolute;
  top: 60%;
  left: 50%;
  color: #d6ac68;
}

#hand div {
  position: relative;
  left: -50%;
}

.player {
  position: absolute;
  width: 20%;
  height: 8%;
  background-image: linear-gradient(to right, #ffffff00 10%, #050517, #ffffff00 90%) ;
  border-bottom-style: solid;
  border-bottom-width: 0.1px;
  border-top-style: solid;
  border-top-width: 0px;
  border-image-source: linear-gradient(to left, #cf5c3600, #cf5c36, #cf5c3600);
  border-image-slice: 1 0;
  border-image-width: 4%;
  color: #e9dad5;
  display: flex;
  flex-direction: column;
}

.crop {
  position: absolute;
  bottom: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.crop img {
  position: absolute;
  height: 230%;
}

#hc1 {
  left: 26.5%;
}

#hc2 {
  left: 36.5%;
}

#player1 {
  top: 12%;
  left: 22%;
}

#player2 {
  top: 12%;
  right: 22%;
}

#player3 {
  top: 52%;
  right: 0%;
}

#player4 {
  bottom: 4%;
  right: 22%;
}

#player5 {
  bottom: 4%;
  left: 22%;
}

#player6 {
  top: 52%;
  left: 0%;
}

.poker-table p {
  margin: auto;
}
