#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #050517;
}

body {
  background-color: #f8fff4;
}

#nav {
  padding: 2%;
}

a {
  font-weight: bold;
  color: #050517;
  text-decoration: none;
}

a.router-link-exact-active {
  color: #cf5c36;
}

.top-menu {
  text-align: right;
  background: #050517;
  color: #f8fff4;
  padding: 1%;
}

.top-menu a {
  font-weight: bold;
  color: #f8fff4;
  text-decoration: none;
  cursor: pointer;
}

.top-menu a.router-link-exact-active {
  color: #cf5c36;
}

form {
  width: 40%;
  margin: auto;
}

input {
  padding: 2%;
  margin: 1%;
  outline: none;
  font-size: 80%;
  text-align: center;
  width: 100%;
  background-color: #f8fff4;
  box-sizing: border-box;
  border-width: 1%;
  border-style: solid;
  border-color: #050517;
}

button {
  background: #cf5c36;
  color: #f8fff4;
  padding: 2%;
  margin: 1%;
  text-transform: uppercase;
  text-align: center;
  justify-content: center; 
  font-weight: bold;
  width: 100%;
  border: #cf5c36;
  cursor: pointer;
}

.table-panel-btn {
  padding: 0px;
  width: 20%;
  height: 40%;
}

.warning {
  color: #cf5c36;
}

.poker-table {
  position: relative;
  background-image: url(../assets/table.svg);
  background-size: 100% 100%;
  height: 80%;
}

.btm-table-panel {
  display: flex;
  background-color: #050517de;
  height: 20%;
  justify-content: center;
}

.table-panel {
  flex-direction: column;
  width: 75%;
}

.chat-panel {
  width: 25%;
  height: 100%;
  text-align: left;
  border-left-width: 10%;
  border-left-style: solid;
  border-left-color: #050517;
  font-size: 90%;
}

.chat-panel input {
  margin: 0%;
  height: 5%;
  font-size: 90%;
  border: #f8fff4;
}

.msg-list {
  overflow-y: auto;
  height: 95%;
  border-top-width: 10%;
  border-top-style: solid;
  border-top-color: #050517;
}

.table {
  display: flex;
  border-width: 10%;
  border-style: solid;
  border-color: #050517;
  min-width: 600px;
  min-height: 260px;
}

#flop1 {
  position: absolute;
  top: 43%;
  left: 33.5%;
  width: 6%;
  height: 14%;
}

#flop2 {
  position: absolute;
  top: 43%;
  left: 40.5%;
  width: 6%;
  height: 14%;
}

#flop3 {
  position: absolute;
  top: 43%;
  left: 47.5%;
  width: 6%;
  height: 14%;
}

#turn {
  position: absolute;
  top: 43%;
  left: 54.5%;
  width: 6%;
  height: 14%;
}

#river {
  position: absolute;
  top: 43%;
  left: 61.5%;
  width: 6%;
  height: 14%;
}